---
const { data } = Astro.props;
import ChannelHeader from "./ChannelHeader.astro";
import ChannelEarnings from "./ChannelEarnings.astro";
import ChannelAbout from "./ChannelAbout.astro";
import ChannelEarningsHistory from "./ChannelEarningsHistory.astro";
import LatestVideo from "./LatestVideo.astro";
import ChannelFaq from "./ChannelFaq.jsx";
import RelatedChannel from "./RelatedChannel.jsx";
---

<!-- Hidden only for SEO -->
<section class="sr-only">
  <h1>
    {data.title} YouTube Channel Stats, Earnings & Latest Videos
  </h1>
  <p>
    Discover how much {data.title} earns, view daily stats, and explore their newest
    videos — all in one place.
  </p>
</section>

<div class="mt-6 md:mt-8 space-y-6 md:space-y-8 px-2">
  <ChannelHeader data={data} />

  <ChannelAbout data={data} />

  <ChannelEarnings data={data} />

  <ChannelEarningsHistory data={data} />
  <div class="space-y-6 md:space-y-8">
    <LatestVideo data={data} />

    <ChannelFaq data={data} client:load />

    <RelatedChannel data={data} client:load />
  </div>
</div>
