---
import BaseLayout from "./BaseLayout.astro";
import HeaderReact from "../components/HeaderReact.jsx";
import FooterReact from "../components/FooterReact.jsx";
import BlogPostLayout from "../components/blog/BlogPostLayout.jsx";

const { frontmatter } = Astro.props;
const { title, author, description } = frontmatter;
const pageTitle = title;
const pageDescription = description;
const pageUrl = `https://youtubersincome.com${Astro.url.pathname}`;
const pageImage = null; // update if you have blog thumbnail
const isBlog = true;

const formattedDate = new Date(frontmatter.pubDate).toLocaleString("en-US", {
  timeZone: "Asia/Dubai",
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "2-digit",
  hour12: true,
});
---

<BaseLayout {pageTitle} {pageDescription} {pageUrl} {pageImage} {isBlog}>
  <HeaderReact />
  <div
    class="min-h-screen bg-gradient-to-br from-slate-50 via-blue-50/30 to-slate-100"
  >
    <main class="container max-w-7xl mx-auto px-4 py-6 md:py-12">
      <div class="grid grid-cols-1 gap-6 md:gap-8">
        <div class="max-w-5xl mx-auto">
          <BlogPostLayout frontmatter={frontmatter}>
            <slot />
          </BlogPostLayout>
        </div>
      </div>
    </main>
  </div>

  <FooterReact />
</BaseLayout>
