---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.jsx";
import Footer from "@/components/Footer.astro";
import BlogPostLayout from "../components/blog/BlogPostLayout.astro";

const { frontmatter } = Astro.props;
const { title, description, image } = frontmatter;
const pageTitle = title;
const pageDescription = description;
const pageUrl = `https://youtubersincome.com${Astro.url.pathname}`;
const pageImage = image; // update if you have blog thumbnail
const isBlog = true;
---

<BaseLayout {pageTitle} {pageDescription} {pageUrl} {pageImage} {isBlog}>
  <Header client:load />
  <div
    class="min-h-screen bg-gradient-to-br from-slate-50 via-blue-50/30 to-slate-100"
  >
    <main class="container max-w-7xl mx-auto px-4 py-6 md:py-12">
      <div class="grid grid-cols-1 gap-6 md:gap-8">
        <div class="max-w-5xl mx-auto">
          <BlogPostLayout frontmatter={frontmatter}>
            <slot />
          </BlogPostLayout>
        </div>
      </div>
    </main>
  </div>

  <Footer />
</BaseLayout>
